/*Styling*/
@keyframes rainbow {
    0% { color: white; }
    33.33% { color: rgb(211, 80, 205); }
    66.67% { color: rgb(114, 194, 221); }
    100% { color: white; }
}

@keyframes funtimes909 {
    0% { color: red; }
    15% { color: green; }
    30% { color: purple; }
    45% { color: orange};
    60% { color: yellow};
    75% { color: blue};
    90% { color: violet};
    100% { color: red}; }

.rgb {
    animation: rainbow 8s infinite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #4495ec;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

button:hover {
    background-color: #2467af;
}

#navicon {
    padding-left: 5px;
    padding-right: 5px;
    height: 75px;
    width: 75px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
}

.navbar {
    background-color: #161515;
    overflow: hidden;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    vertical-align: middle;
    border-radius: 10px;
    border: solid purple;
}

.navtitle {
    animation: funtimes909 32s infinite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.contact {
    list-style-type: none;
    margin: 25px;
    padding: 10px;
    font-size: larger;
    text-align: center;
}

#clock {
    animation: funtimes909 32s infinite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    overflow: hidden;
    float: right;
    font-size: xx-large;
    vertical-align: center;
    padding: 20px;
    padding-right: 30px;
    margin: auto;
    border-width: 10%;
}

#buttons {
    display: inline-block;
    margin: center;
    text-align: center;
}