/*Styling*/
@keyframes rainbow {
    0% { color: white; }
    33.33% { color: palevioletred; }
    66.67% { color: lightblue; }
}

h1 {
    animation: rainbow 8s infinite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    text-align: center;
    padding: 16px;
}

button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #4495ec;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}